<div class="container">
  <h1>Stupid Coaching</h1>

  <h2><%= params[:user_input] %></h2>
  <h2>-<em>You</em></h2>
  <div class="bg-warning">
    <h2><%= @coach_answer %></h2>
    <h2>-<em>Your coach</em></h2>
  </div>
  <%= link_to "Ask another question", ask_path, class: "btn btn-primary" %> <!-- funciona como <a href="/ask">"Ask another question"</a> -->
</div>
